<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Jets Sample</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/" class="dropdown-item">Top</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="dropdown-item">About</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="dropdown-item">Contact</a>
            </li>
        </ul>
    </div>
</nav>